.stakes-page {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20vh;

    > div.search {
        max-width: 800px;
        width: 100%;
        margin-top: 20px;

        > input {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            color: black;
            text-align: center;
            outline: none;
    
            &.invalid {
                border: 1px solid red;
            }
        }

        > i {
            font-size: 30px;
            position: absolute;
            top: 5px;
            right: 10px;
            color: black;

            &.fa-times {
                color: red;
            }
        }
    }

    > div.profile {
        max-width: 1440px;
        width: 100%;
        flex-direction: column;

        @media screen and (max-width: 1440px) {
            max-width: calc(1350px - 13vw);
            margin-left: calc(45px + 13vw);
        }
    }

    .total-interest-container {
        height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.15);
        
        > strong {
            font-size: 50px;
        }
    }

    .graph-container {
        margin-top: 20vh;
        width: 100%;

        > .graph {
            min-height: 40vh;
            margin-top: 5px;
            width: 100%;
        }
    }

    .table-container {
        width: 100%;
        margin-top: 20vh;

        > div.table {
            height: 1000px;
            border: 1px solid white;
            border-radius: 10px;
            width: 100%;
            margin-top: 10px;

            > table {
                margin-top: 5px;
                width: 100%;
                border-collapse: collapse;
                height: 100%;

                thead {

                    tr {
                        border-bottom: 1px solid rgba(255,255,255,0.2);

                        th {
                            padding: 10px 0;
                        }

                        th:nth-child(1) {
                            width: 20%;
                        }
                        th:nth-child(2) {
                            width: 20%;
                        }
                        th:nth-child(3) {
                            width: 10%;
                        }
                        th:nth-child(4) {
                            width: 30%;
                        }
                        th:nth-child(5) {
                            width: 10%;
                        }
                    }

                }
    
                tbody {
                    height: 100%;

                    tr {
                        border-bottom: 1px solid rgba(255,255,255,0.2);

                        td:nth-child(1) {
                            width: 20%;
                        }
                        td:nth-child(2) {
                            width: 20%;
                        }
                        td:nth-child(3) {
                            width: 10%;
                        }
                        td:nth-child(4) {
                            width: 30%;
                        }
                        td:nth-child(5) {
                            width: 10%;
                        }

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}